header {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ba0000;
    color: white;
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
}

.elim{
    margin: 5px;
    padding: 4px 4px;
    font-size: 12px;
    font-weight: bold;
    background-color: #000000;
    color: rgb(255, 0, 0);
    /* border: none; */
    border-radius: 5px;
    cursor: pointer;
}